/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.3.3@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_app.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_app.scss */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100%;
  line-height: 1.5;
  font-family: monospace;
}
@media only screen and (max-device-width: 480px) {
  /* line 5, ../scss/_app.scss */
  html {
    font-size: 80%;
  }
}

/* line 21, ../scss/_app.scss */
html, body {
  height: 100%;
}

/* line 25, ../scss/_app.scss */
body > .header {
  height: 10%;
  position: absolute;
  top: 0;
  right: 5%;
  left: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* line 35, ../scss/_app.scss */
body > .header input {
  font-size: inherit;
  background: #ffc966;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  box-shadow: 0 0 5px 2px orange inset;
  cursor: pointer;
}

/* line 46, ../scss/_app.scss */
.container {
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

/* line 52, ../scss/_app.scss */
.user-view, .admin-view, .login-view {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

/* line 63, ../scss/_app.scss */
.table .caption, .table .row .cell, .table .row .th {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

/* line 70, ../scss/_app.scss */
.table, .table .header, .table .body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* line 76, ../scss/_app.scss */
.table {
  width: 90%;
  margin: auto;
}
/* line 81, ../scss/_app.scss */
.table .caption {
  flex: 1 1 0;
}
/* line 86, ../scss/_app.scss */
.table .header, .table .body {
  flex: 1 1 0;
}
/* line 91, ../scss/_app.scss */
.table .row {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
/* line 97, ../scss/_app.scss */
.table .row .cell, .table .row .th {
  flex: 1 1 0;
}
/* line 100, ../scss/_app.scss */
.table .row .cell.full-width, .table .row .th.full-width {
  width: 100%;
}
/* line 105, ../scss/_app.scss */
.table .row .cell {
  cursor: pointer;
}

/* line 111, ../scss/_app.scss */
.table.priorities {
  height: 15%;
}
/* line 114, ../scss/_app.scss */
.table.priorities .body {
  flex: 4 4 0;
}
/* line 117, ../scss/_app.scss */
.table.priorities .body .cell {
  justify-content: space-around;
}
/* line 119, ../scss/_app.scss */
.table.priorities .body .cell.selected {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3) inset;
}

/* line 126, ../scss/_app.scss */
.table.timetable {
  height: 40%;
}
/* line 129, ../scss/_app.scss */
.table.timetable .body {
  flex: 2 2 0;
}
/* line 133, ../scss/_app.scss */
.table.timetable .table, .table.timetable .th, .table.timetable .cell {
  border: 1px black solid;
}
/* line 137, ../scss/_app.scss */
.table.timetable .cell {
  border: 1px grey solid;
}

/* line 142, ../scss/_app.scss */
.admin-view {
  justify-content: flex-start;
}
/* line 145, ../scss/_app.scss */
.admin-view .header {
  height: 10%;
}
/* line 149, ../scss/_app.scss */
.admin-view .table.timetable {
  width: 90%;
  height: auto;
}
/* line 154, ../scss/_app.scss */
.admin-view .table.timetable .body .cell {
  align-items: stretch;
}
/* line 156, ../scss/_app.scss */
.admin-view .table.timetable .body .cell .cell {
  text-align: center;
  padding: 5px 0;
  flex: 0 0 0;
}
/* line 160, ../scss/_app.scss */
.admin-view .table.timetable .body .cell .cell:last-child {
  margin-bottom: auto;
}

/* line 170, ../scss/_app.scss */
.table .cell[data-priority='cant'] {
  background-color: tomato;
}
/* line 174, ../scss/_app.scss */
.table .cell[data-priority='dontwant'] {
  background-color: #FFA600;
}
/* line 178, ../scss/_app.scss */
.table .cell[data-priority='can'] {
  background-color: yellowgreen;
}
/* line 182, ../scss/_app.scss */
.table .cell[data-priority='want'] {
  background-color: greenyellow;
}
/* line 186, ../scss/_app.scss */
.table .cell[data-assigned='true'] {
  font-weight: bold;
  position: relative;
}
/* line 190, ../scss/_app.scss */
.table .cell[data-assigned='true']:before {
  content: '';
  position: absolute;
  bottom: calc(50% - 5px);
  left: calc(50% - 10px);
  height: 10px;
  width: 20px;
  border-left: 5px blue solid;
  border-bottom: 5px blue solid;
  opacity: 0.3;
  transform: rotate(-45deg);
}

/* line 206, ../scss/_app.scss */
.login-view select, .login-view input {
  font-size: 2rem;
}
/* line 210, ../scss/_app.scss */
.login-view .square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 215, ../scss/_app.scss */
.login-view .square .row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 220, ../scss/_app.scss */
.login-view .square .row input {
  flex: 1 1 0;
  margin: 10px;
  padding: 5px;
  background-color: #ffc966;
  border-radius: 5px;
  border: 3px solid orange;
  box-shadow: 0 0 5px 2px orange inset;
  cursor: pointer;
}

/* line 234, ../scss/_app.scss */
body > .header {
  font-size: 1.5rem;
  text-align: center;
}
