/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.3.1@murtimer/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_index.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_index.scss */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100%;
  line-height: 1.5;
  font-family: monospace;
}
@media only screen and (max-device-width: 480px) {
  /* line 5, ../scss/_index.scss */
  html {
    font-size: 80%;
  }
}

/* line 21, ../scss/_index.scss */
html, body {
  height: 100%;
}

/* line 26, ../scss/_index.scss */
body > .header {
  height: 10%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 34, ../scss/_index.scss */
.container {
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

/* line 40, ../scss/_index.scss */
.user-view, .admin-view, .login-view {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

/* line 51, ../scss/_index.scss */
[hidden] {
  display: none;
}

/* line 55, ../scss/_index.scss */
.table .caption, .table .row .cell, .table .row .th {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

/* line 62, ../scss/_index.scss */
.table, .table .header, .table .body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* line 68, ../scss/_index.scss */
.table {
  width: 80%;
  margin: auto;
}
/* line 73, ../scss/_index.scss */
.table .caption {
  flex: 1 1 0;
}
/* line 78, ../scss/_index.scss */
.table .header, .table .body {
  flex: 1 1 0;
}
/* line 83, ../scss/_index.scss */
.table .row {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
/* line 89, ../scss/_index.scss */
.table .row .cell, .table .row .th {
  flex: 1 1 0;
}
/* line 92, ../scss/_index.scss */
.table .row .cell.full-width, .table .row .th.full-width {
  width: 100%;
}
/* line 97, ../scss/_index.scss */
.table .row .cell {
  cursor: pointer;
}

/* line 103, ../scss/_index.scss */
.table.priorities {
  height: 15%;
}
/* line 106, ../scss/_index.scss */
.table.priorities .body {
  flex: 4 4 0;
}
/* line 109, ../scss/_index.scss */
.table.priorities .body .cell {
  justify-content: space-around;
}
/* line 111, ../scss/_index.scss */
.table.priorities .body .cell.selected {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3) inset;
}

/* line 118, ../scss/_index.scss */
.table.timetable {
  height: 40%;
}
/* line 121, ../scss/_index.scss */
.table.timetable .body {
  flex: 2 2 0;
}
/* line 125, ../scss/_index.scss */
.table.timetable .table, .table.timetable .th, .table.timetable .cell {
  border: 1px black solid;
}
/* line 129, ../scss/_index.scss */
.table.timetable .cell {
  border: 1px grey solid;
}

/* line 135, ../scss/_index.scss */
.admin-view .header {
  height: 10%;
}
/* line 138, ../scss/_index.scss */
.admin-view .table.timetable {
  width: 90%;
  height: 60%;
}
/* line 141, ../scss/_index.scss */
.admin-view .table.timetable .row {
  margin: 5% 0;
}

/* line 148, ../scss/_index.scss */
.table .cell[data-priority='cant'] {
  background-color: tomato;
}
/* line 152, ../scss/_index.scss */
.table .cell[data-priority='dontwant'] {
  background-color: #FFA600;
}
/* line 156, ../scss/_index.scss */
.table .cell[data-priority='can'] {
  background-color: yellowgreen;
}
/* line 160, ../scss/_index.scss */
.table .cell[data-priority='want'] {
  background-color: greenyellow;
}

/* line 166, ../scss/_index.scss */
.login-view select, .login-view input {
  font-size: 3rem;
}

/* line 171, ../scss/_index.scss */
body > .header {
  font-size: 2rem;
  text-align: center;
}
